<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="automation test suite" verbose="1" parallel="false">
    <suite-files>
        <suite-file path="src/test/resources/testRunner/RegressionTest.xml"></suite-file>
    </suite-files>
</suite>